<div ng-class="{'row': ($index + 1) % 6 === 0}" ng-repeat="term in $ctrl.vocabulary.filteredTerms | limitTo:$ctrl.limitNumber">
  <div class="col-md-2">
    <div class="checkbox">
      <label for="term-{{$ctrl.vocabulary.name + '-' + $index}}">
        <input id="term-{{$ctrl.vocabulary.name + '-' + $index}}"
               type="checkbox"
               ng-model="term.selected"
               ng-click="$ctrl.clickCheckbox(term)"> {{term.title | localizedString}}
      </label>
    </div>
  </div>
</div>
<span class="clearfix"></span>
<div class="row" ng-if="$ctrl.vocabulary.terms.length >= $ctrl.limitNumber">
  <button type="button"
          class="btn btn-sm btn-primary pull-right"
          ng-click="$ctrl.limitNumber = $ctrl.limitNumber + 6">
    More
  </button>
</div>

