<div id="search-criteria-region" ng-class="options.showSearchBox || options.showSearchBrowser ? 'voffset2' : ''" class="panel panel-default" ng-if="renderableTargets && renderableTargets.length > 0">
  <div class="panel-body">
      <table style="border:none">
          <tbody>
          <tr>
              <td>
                  <a href class="btn btn-sm btn-default" ng-click="clearSearchQuery()" translate>clear</a>
              </td>
              <td style="padding-left: 10px">
                  <div criteria-root item="search.criteria" query="search.query" advanced="search.advanced" on-remove="removeCriteriaItem"
                       on-refresh="refreshQuery" class="inline"></div>

                  <small class="hoffset2" ng-if="showAdvanced()">
                      <a href ng-click="toggleSearchQuery()"
                         title="{{search.advanced ? 'search.basic-help' : 'search.advanced-help' | translate}}" translate>
                          {{search.advanced ? 'search.basic' : 'search.advanced' | translate}}
                      </a>
                  </small>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>