<div class="sortwidget">
        <label for="search-sort">{{"global.sort-by" | translate}}  {{selectSort | getLabel:selected.sort | translate}}</label>
        <span class="btn-group dropdown" >
           <button id="SortOrder"  type="button" class="btn btn-primary dropdown-toggle"
                   data-toggle="dropdown" >
               <i ng-if="selected.order=='-' || selected.sort===selectSort.options[0].value"
                  class="glyphicon glyphicon-sort-by-attributes-alt"></i>
               <i ng-if="selected.order=='' && selected.sort!==selectSort.options[0].value"
                  class="glyphicon glyphicon-sort-by-attributes"></i>
           </button>
           <span class="dropdown-menu pull-right" role="menu" uib-dropdown-menu aria-labelledby="SortOrder">
               <form class="form-inline">
                    <span class="list-group">
                        <table class="table table-hover">

                              <tr  ng-repeat="option in selectSort.options">

                               <td>
                                   <input
                                       type="radio"
                                       ng-model="selected.sort"
                                       ng-value="option.value"
                                       name="search-sort"
                                       ng-change="radioCheked()">
                                    <label  translate>{{option.label}}</label>
                               </td>
                               <td >
                                   <span ng-if="selected.sort===option.value && selected.sort!==selectSort.options[0].value">
                                        <span ng-repeat="optionorder in selectOrder.options">
                                            <label>
                                                <i ng-if="optionorder.value=='-'"
                                                   class="fa fa-long-arrow-down"></i>
                                                <i ng-if="optionorder.value==''"
                                                   class="fa fa-long-arrow-up"></i>
                                            </label>
                                            <input type="radio"
                                                   ng-model="selected.order"
                                                   ng-value="optionorder.value"
                                                   name="search-order"
                                                   ng-change="radioCheked()">
                                        </span>
                                   </span>
                               </td>
                           </tr>
                        </table>
                    </span>
               </form>
            </span>
        </span>
</div>
