.vocabulary-filter-detail{
  border: none !important;
  margin-bottom: 0px !important;
  .close{
    padding-right: 15px;
  }
  .vocabulary-filter-detail-heading{
    border-bottom: 1px solid #ECF0F1;
  }
  .vocabulary-filter-detail-container{
    overflow-y: scroll;
    max-height: 600px;
  }
}
meta-taxonomy-filter-list{
  .panel{
    margin-bottom: 15px !important;
  }
}
taxonomy-filter-panel{
  position: absolute;
  background-color: #ffffff;
  z-index: 5;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ECF0F1;
}