<div class="vocabulary-filter-detail">
  <div class="row">
    <div class="col-md-4"><a href ng-click="$ctrl.togglePannel()" class="voffset2"><i class="glyphicon glyphicon-chevron-left"></i> Close</a></div>
    <div class="col-md-8">
      <input-search-filter class="input-search-filter pull-right" vocabularies="$ctrl.taxonomy.vocabularies" on-filter-change="$ctrl.onFilterChange(queryString)"></input-search-filter>
    </div>
  </div>
  <div class="vocabulary-filter-detail-container">
    <vocabulary-filter-detail
            on-select-vocabulary-args="$ctrl.selectTaxonomyVocabularyArgs(vocabulary, args)"
            ng-repeat="vocabulary in $ctrl.filteredVocabularies track by $index"
            vocabulary="vocabulary">
    </vocabulary-filter-detail>
  </div>
</div>

