<div class="vocabulary-filter-detail">
  <div class="row">
    <div class="col-md-2"><div class="voffset2"><a href="#"><i class="glyphicon glyphicon-chevron-left"></i> Close</a></div></div>
    <div class="col-md-6">
      <entity-counts taxonomy-type-map="$ctrl.taxonomyTypeMap" result-tabs-order="$ctrl.resultTabsOrder" target="$ctrl.target" result="$ctrl.result"></entity-counts>
    </div>
    <div class="col-md-4">
      <input-search-filter class="input-search-filter pull-right" vocabularies="$ctrl.taxonomy.vocabularies" on-filter-change="$ctrl.onFilterChange(queryString)"></input-search-filter>
    </div>
  </div>
  <div class="vocabulary-filter-detail-container">
    <vocabulary-filter-detail
            ng-if="!$ctrl.taxonomyIsArray"
            on-select-vocabulary-args="$ctrl.selectTaxonomyVocabularyArgs($ctrl.taxonomy, vocabulary, args)"
            ng-repeat="vocabulary in $ctrl.filteredVocabularies track by $index"
            vocabulary="vocabulary">
    </vocabulary-filter-detail>
    <div ng-if="$ctrl.taxonomyIsArray" ng-repeat="subTaxonomy in $ctrl.taxonomy">

      <taxonomy-filter-detail taxonomy="subTaxonomy"
                              vocabularies="$ctrl.filteredVocabularies[subTaxonomy.name]"
                              on-select-taxonomy-term="$ctrl.selectTaxonomyVocabularyArgs(taxonomy, vocabulary, args)">
      </taxonomy-filter-detail>
    </div>
  </div>
</div>

