<span ng-if="$ctrl.badgeOptions.showBadge">
  <span class="btn btn-default btn-xxs" test-ref="dataSchemaVariableCount"
        ng-if="$ctrl.badgeOptions.showBadge && !$ctrl.badgeOptions.showTab">
    <localized-number value="$ctrl.entityCount"></localized-number>
  {{ $ctrl.labelBadge | translate }}
  </span>
  <a class="btn btn-default btn-xxs"
     test-ref="dataSchemaVariableCount" href="{{$ctrl.entityType | doSearchQuery:$ctrl.query }}" ng-if="$ctrl.badgeOptions.showTab">
    <localized-number value="$ctrl.entityCount"></localized-number>
    {{ $ctrl.labelBadge | translate }}
  </a>
</span>