<form class="form-inline voffset2" name="actionLogForm">
  <div class="form-group">
    <input type="text"
           class="form-control"
           ng-model="$ctrl.item.action"
           ng-required="true"
           placeholder="{{'data-access-request.action-log.action-placeholder' | translate}}"
           typeahead-editable="true"
           uib-typeahead="value for value in $ctrl.predefinedActionNames | filter:$viewValue | limitTo:8">
  </div>
  <div class="form-group">
    <div class="input-group">
      <input type="datetime"
             class="form-control"
             uib-datepicker-popup="dd/MM/yyyy"
             ng-model="$ctrl.item.changedOn"
             ng-required="true"
             ng-focus="$ctrl.open = !$ctrl.item.changedOn" is-open="$ctrl.open"
             placeholder="dd/MM/yyyy"
             show-button-bar="false">

      <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.open = !$ctrl.open">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
  </div>

  <button type="button" class="btn btn-sm btn-info" ng-click="$ctrl.add($ctrl.item)">{{'global.add' | translate}}
    <i class="fa fa-plus"></i>
  </button>

  <div class="form-group has-error" ng-if="$ctrl.showError && (!$ctrl.item.action || !$ctrl.item.changedOn)">
    <span class="control-label">{{'data-access-request.action-log.required' | translate}}</span>
  </div>
</form>