<div>
  <div ng-if="cartHeaderTemplateUrl" ng-include="cartHeaderTemplateUrl"></div>
  <h3>
    <span translate>variables</span>
    <span ng-if="loading" class="voffset2 loading"></span>
  </h3>

  <div ng-repeat="tab in tabs" >
    <cart-documents-table ng-if="'variables' === tab.type"
                         type="tab.type"
                         documents="variables"
                         on-update="onUpdate"
                         options="tab.options"
                         on-page-change="onPaginate"></cart-documents-table>

    <p ng-hide="loading || variables && variables.total>0" translate>sets.cart.no-variables</p>
  </div>
</div>