<div>
  <div ng-if="setsHeaderTemplateUrl" ng-include="setsHeaderTemplateUrl"></div>

  <div class="row">
    <div class="col-md-3">
      <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" ng-repeat="tab in useableTabs" is-open="true">

          <div uib-accordion-heading>
            <span>
              {{tab.title | localizedString}}
            </span>

            <a ng-if="canDelete[tab.name]" class="pull-right" href ng-click="$event.stopPropagation(); deleteChecked(tab.name)">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>

          <span ng-if="!sets[tab.name].length" translate>sets.empty</span>

          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="set in sets[tab.name]">
              <input type="checkbox" ng-model="checked[tab.name][set.id]" ng-click="check(tab.name)">
              <span href ng-click="selectSet(tab.name, set)">
                <a href>{{set.name}}</a>
                <span class="pull-right text-muted">{{set.count}}</strong>
              </span>
            </li>
          </ul>
        </div>
      </uib-accordion>
    </div>

    <div class="col-md-9">
      <span ng-if="loading" class="voffset2 loading"></span>
      <set-documents-table set-id="selectedSet.id" type="'variables'" documents="documents" on-page-change="onPaginate"></set-documents-table>
    </div>
  </div>
</div>