<div class="panel-heading">
  <label >
    {{$ctrl.vocabulary.title | localizedString}}
  </label>
  <span
       uib-popover="{{$ctrl.vocabulary.description ? $ctrl.vocabulary.description : $ctrl.vocabulary.title | localizedString}}"
       popover-title="{{$ctrl.vocabulary.description ? $ctrl.vocabulary.title : null | localizedString}}" popover-placement="bottom"
       popover-trigger="'mouseenter'" popover-popup-delay="250">
    <i class="fa fa-info-circle"> </i>
  </span>

  <div class="pull-right">
    <a href="" ng-click="$ctrl.removeCriterion()" ng-if="$ctrl.vocabulary.existingItem">{{'clear' | translate}}</a>
    <a href="" class="hoffset2" ng-click="$ctrl.selectAllFilteredVocabularyTerms($ctrl.vocabulary.filteredTerms)" ng-if="$ctrl.criterionType === 'string-terms' && $ctrl.canStillSelectMore($ctrl.vocabulary.filteredTerms)">
      {{'select-items' | translate}}
    </a>
  </div>

</div>
<div class="panel-body">
  <div ng-switch on="$ctrl.criterionType">
    <div ng-switch-when="string-terms">
      <terms-vocabulary-filter-detail vocabulary="$ctrl.vocabulary" on-select-args="$ctrl.selectVocabularyArgs(args)"></terms-vocabulary-filter-detail>
    </div>

    <div ng-switch-when="numeric">
      <numeric-vocabulary-filter-detail vocabulary="$ctrl.vocabulary" on-select-args="$ctrl.selectVocabularyArgs(args)"></numeric-vocabulary-filter-detail>
    </div>

    <div ng-switch-default>
      <match-vocabulary-filter-detail vocabulary="$ctrl.vocabulary" on-select-args="$ctrl.selectVocabularyArgs(args)"></match-vocabulary-filter-detail>
    </div>
  </div>
</div>