<div class="panel panel-default">
  <div class="panel-heading">
    <div>
        <span>{{$ctrl.vocabulary.title | localizedString}}</span>
        <div class="pull-right">
          <a href="" ng-click="$ctrl.removeCriterion()" ng-if="$ctrl.vocabulary.existingItem">{{'clear' | translate}}</a>

          <a href=""
             class="hoffset2"
             ng-if="$ctrl.criterionType === 'string-terms' && $ctrl.vocabulary.existingItem.type !== 'exists'"
             ng-click="$ctrl.selectVocabularyArgs(null)">
            {{'select-all' | translate}}
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
      <small class="help-block">{{$ctrl.vocabulary.description | localizedString}}</small>
  </div>
  <div class="panel-body">
    <div ng-switch on="$ctrl.criterionType">
      <div ng-switch-when="string-terms">
        <terms-vocabulary-filter-detail vocabulary="$ctrl.vocabulary" on-select-args="$ctrl.selectVocabularyArgs(args)"></terms-vocabulary-filter-detail>
      </div>

      <div ng-switch-when="numeric">
        <numeric-vocabulary-filter-detail vocabulary="$ctrl.vocabulary" on-select-args="$ctrl.selectVocabularyArgs(args)"></numeric-vocabulary-filter-detail>
      </div>

      <div ng-switch-default>
        <match-vocabulary-filter-detail vocabulary="$ctrl.vocabulary" on-select-args="$ctrl.selectVocabularyArgs(args)"></match-vocabulary-filter-detail>
      </div>
    </div>
  </div>
</div>

