<form class="list-search-widget">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <div class="input-group">
          <suggestion-field document-type="type" model="searchFilter" placeholder-text="'global.list-search-placeholder'"
                            select="selectSuggestion"></suggestion-field>

          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-click="search()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <a class="btn btn-success pull-right" href="{{type | doSearchQuery:query}}">
        {{'global.search' | translate}} {{searchBouttonLable | translate}}
      </a>
    </div>
  </div>
</form>
