<form class="list-search-widget">
    <div class="form-group pull-left">
      <div class="input-group">
        <suggestion-field document-type="type" model="searchFilter" placeholder-text="'global.list-search-placeholder'"
                          select="selectSuggestion"></suggestion-field>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" ng-click="search()">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="pull-left voffset2 hoffset2">
      <small><a href ng-href="{{navigateToSearchPage()}}">
        {{'search.advanced-button' | translate}}
      </a></small>
    </div>
</form>
