<div ng-class="{'overlay-front-on-box-shodow' : $ctrl.showTaxonomyPanel}">
  <uib-accordion close-others="false" is-disabled="false">
    <meta-taxonomy-filter-list ng-repeat="metaTaxonomy in $ctrl.metaTaxonomies"
                               meta-taxonomy="metaTaxonomy"
                               show-taxonomy-panel="$ctrl.showTaxonomyPanel"
                               rql-query="$ctrl.rqlQuery"
                               on-select-taxonomy="$ctrl.onSelectTaxonomy(target, taxonomy)">
    </meta-taxonomy-filter-list>
  </uib-accordion>
</div>
