<div uib-accordion-group class="panel-default" heading="{{$ctrl.metaTaxonomy.title | localizedString}}" is-open="$ctrl.status.isFirstOpen">
  <entity-search-typeahead
    placeholder-text="search.placeholder.meta-taxonomy-filter.{{$ctrl.entityType}}"
    with-specific-fields="true"
    target="$ctrl.metaTaxonomy.name"
    rql-query="$ctrl.rqlQuery"
    entity-type="$ctrl.entityType"></entity-search-typeahead>

  <ul class="nav nav-pills nav-stacked voffset1">
    <li role="presentation" ng-repeat="taxonomy in $ctrl.metaTaxonomy.taxonomies" ng-class="{'active': taxonomy.state.isActive() && $ctrl.showTaxonomyPanel}">
      <a href ng-click="$ctrl.selectTaxonomy(taxonomy)">
        <span
        uib-popover="{{taxonomy.info.description | localizedString}}"
        popover-title="{{taxonomy.info.title | translate}}"
        popover-placement="bottom"
        popover-trigger="'mouseenter'"
        popover-popup-delay="250">
          {{taxonomy.info.title | translate}}
        </span> <span ng-if="taxonomy.state.isLoading()" class="loading"></span>
      </a>
    </li>
  </ul>

</div>

