<div>
  <print-friendly-view class="visible-print" valid-form="true" model="model" access-form="dataAccessForm" last-submitted-date="lastSubmittedDate">
  </print-friendly-view>

  <div class="hidden-print">
    <div ng-if="headerTemplateUrl" ng-include="headerTemplateUrl"></div>

    <obiba-alert id="DataAccessAmendmentViewController"></obiba-alert>

    <p class="help-block pull-left" ng-if="requestEntity.applicant">
      <span translate>created-by</span>
      <span ng-if="!actions.canViewProfile('mica-data-access-officer')">
        {{getFullName(requestEntity.profile) || requestEntity.applicant}},
      </span>
      <span ng-if="actions.canViewProfile('mica-data-access-officer')">
        <a href ng-click="userProfile(requestEntity.profile)">
          {{getFullName(requestEntity.profile) || requestEntity.applicant}}</a>,
      </span>
      <span title="{{requestEntity.timestamps.created | amDateFormat: 'lll'}}">{{requestEntity.timestamps.created | amCalendar}}</span>
      <span class="label label-primary hoffset1">{{requestEntity.status | translate}}</span>
    </p>

    <div class="pull-right" ng-if="read && formDrawn">
      <a ng-click="submit()" ng-if="actions.canEditStatus(requestEntity) && nextStatus.canSubmit(requestEntity)" class="btn btn-info"
        translate>submit</a>

      <a ng-click="reopen()" ng-if="actions.canEditStatus(requestEntity) && nextStatus.canReopen(requestEntity)" class="btn btn-info"
        translate>reopen</a>

      <a ng-click="review()" ng-if="actions.canEditStatus(requestEntity) && nextStatus.canReview(requestEntity)" class="btn btn-info"
        translate>review</a>

      <a ng-click="conditionallyApprove()" ng-if="actions.canEditStatus(requestEntity) && nextStatus.canConditionallyApprove(requestEntity)"
        class="btn btn-info" translate>conditionallyApprove</a>

      <a ng-click="approve()" ng-if="actions.canEditStatus(requestEntity) && nextStatus.canApprove(requestEntity)" class="btn btn-info"
        translate>approve</a>

      <a ng-click="reject()" ng-if="actions.canEditStatus(requestEntity) && nextStatus.canReject(requestEntity)" class="btn btn-info"
        translate>reject</a>

      <a ng-href="#{{entityUrl}}/edit" ng-if="actions.canEdit(requestEntity)" class="btn btn-primary" title="{{'edit' | translate}}">
        <i class="fa fa-pencil-square-o"></i>
      </a>

      <a ng-click="printForm()" class="btn btn-default" title="{{'global.print' | translate}}">
        <i class="fa fa-print"></i>
        <span translate>global.print</span>
      </a>

      <a ng-click="delete()" ng-if="actions.canDelete(requestEntity)" class="btn btn-danger" title="{{'delete' | translate}}">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>

    <div class="clearfix"></div>

    <status-progressbar status="requestEntity.status" config="dataAccessForm"></status-progressbar>

    <form id="request-form" name="forms.requestForm">
      <div class="pull-right" ng-if="!read && formDrawn">
        <a ng-click="cancel()" type="button" class="btn btn-default">
          <span translate>cancel</span>
        </a>

        <a ng-click="save()" type="button" class="btn btn-primary">
          <span translate>save</span>
        </a>

        <a ng-click="validate(forms.requestForm)" type="button" class="btn btn-info">
          <span translate>validate</span>
        </a>
      </div>

      <div class="clearfix"></div>

      <obiba-schema-form-renderer model="model" schema-form="dataAccessForm" read-only="read" on-redraw="toggleFormDrawnStatus"></obiba-schema-form-renderer>

      <div class="clearfix"></div>

      <div class="pull-right" ng-if="!read && formDrawn">
        <a ng-click="cancel()" type="button" class="btn btn-default">
          <span translate>cancel</span>
        </a>

        <a ng-click="save()" type="button" class="btn btn-primary">
          <span translate>save</span>
        </a>

        <a ng-click="validate(forms.requestForm)" type="button" class="btn btn-info">
          <span translate>validate</span>
        </a>
      </div>
    </form>
  </div>
</div>