<div class="voffset2">
  <div class="btn btn-group" style="padding: 0">
    <label class="btn btn-sm btn-study" ng-model="studyFilterSelection.selection" uib-btn-radio="'all'" translate>all</label>
    <label class="btn btn-sm btn-study" ng-model="studyFilterSelection.selection" uib-btn-radio="'individual'" translate>search.coverage-buckets.individual</label>
    <label class="btn btn-sm btn-study" ng-model="studyFilterSelection.selection" uib-btn-radio="'harmonization'" translate>search.coverage-buckets.harmonization</label>
  </div>
</div>